@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --viewport-height: 100vh; /* Set a CSS variable for viewport height */
  --header-height: 81px; /* Set a CSS variable for header height */
  --sub-header-height: 83px; /* Set a CSS variable for header height */
  --onboarding-header-height: 114px;
}

body {
  @apply overflow-hidden;
}

.view-page-container {
  height: calc(
    var(--viewport-height) - var(--header-height)
  ); /* Calculate dynamic height */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
